/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Special Elite";
    src: url("/fonts/special-elite/specialfelite-webfont.woff");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Weiss Initialen";
    src: url("/fonts/weiss-initialen/WeissInitialen.ttf");
    font-weight: normal;
    font-display: swap;
  }
}
