/* Write your global styles here, in PostCSS syntax */

@import '@fontsource/fira-mono';

@tailwind base;


#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@tailwind components;

@tailwind utilities;
