@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Special Elite";
    src: url("/fonts/special-elite/specialelite-webfont.woff");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Weiss Initialen";
    src: url("/fonts/weiss-initialen/weissinitialen.woff2");
    font-weight: normal;
    font-display: swap;
  }
}
